<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Keep Going</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.keepgoing.background.goals.reminder.morning</string>
		<string>com.keepgoing.background.goals.reminder.midDay</string>
		<string>com.keepgoing.background.goals.reminder.afternoon</string>
		<string>com.keepgoing.background.goals.reminder.evening</string>
		<string>com.keepgoing.background.goals.reminder</string>
		<string>com.keepgoing.background.goals.reminder.summary</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeDescription</key>
			<string></string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array/>
			</dict>
		</dict>
		<dict/>
		<dict/>
	</array>
</dict>
</plist>
